<?xml version ="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="gazebo_sensor_plugin">
        <gazebo>
            <plugin name="laser_plugin" filename="libgazebo_ros_laser.so">
                <ros>
                    <namespace>/</namespace>
                    <remapping>scan:=scan</remapping>
                </ros>
            </plugin>
            <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
                <ros>
                    <namespace>/</namespace>
                    <remapping>imu:=imu</remapping>
                </ros>
            </plugin>
            <plugin name="camera_plugin" filename="libgazebo_ros_camera.so">
                <ros>
                    <namespace>/</namespace>
                    <remapping>image:=image</remapping>
                    <remapping>camera_info:=camera_info</remapping>
                </ros>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>